/* .form-group.terms-and-conditions, */

.form-group.terms-and-conditions {
  flex-direction: column;
}

.form-group.terms-and-conditions .terms-and-conditions__wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.form-group.terms-and-conditions label.control-label.terms-and-conditions__label {
  margin-bottom: 0;
}

.form-group.terms-and-conditions label.control-label.terms-and-conditions__label a {
  font-weight: bold;
}

.form-group.terms-and-conditions .terms-and-conditions__action:hover {
  cursor: pointer;
}